h1{
	text-align: center;
}

.sidebar-offcanvas
{
	width: 20%;
	float: left;
	
}

.jumbotron
{
	width: 80%;
	height: 80%; 
	float: left;
}
.navbar-right
{
	align: center;
}
#searchbtn
{
	position: right;
}
.btn-group
{
	padding: 5px;
	float: right;
}
.pagination
{
	float: center;
}